name: Notifications CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:6
        ports:
          - 27017:27017
        #options: >-
         # --health-cmd "mongosh --eval 'db.runCommand({ ping: 1 })'"
         # --health-interval 10s
         # --health-timeout 5s
         # --health-retries 5

    env:
      MONGO_CONNECTION_STRING: mongodb://localhost:27017
      MONGO_DATABASE_NAME: notifications_db
      #MONGO_CONNECTION_STRING: ${{ secrets.MONGO_CONNECTION_STRING }}
      #MONGO_DATABASE_NAME: ${{ secrets.MONGO_DATABASE_NAME }}

    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Wait for API to be ready
        run: |
          for i in {1..15}; do
            if curl -s http://127.0.0.1:8000/v1/notifications/ > /dev/null; then
              echo "API is up"
              break
            fi
            echo "Waiting for API..."
            sleep 2
            done


      - name: Start API
        run: |
          sleep 5
          python -m uvicorn src.notifications.app:create_app --factory --host 0.0.0.0 --port 8000 &
          for i in {1..10}; do
          curl -s http://localhost:8000/v1/notifications/ && break
          sleep 2
          done

      - name: Run tests
        run: |
          python -m pytest -v

      - name: Docker build check
        run: |
          docker build -t notifications:${{ github.sha }} .
